.contacto{
    border: yellow;
   
}

.seccionContacto{
    background-color: #000519;
    justify-content: center;
}

.tituloContacto{
    color: aliceblue
}

.mensaje{
    width: 300px !important;
}


@media screen and (max-width:800px){

    .contacto{
        width: 400px;
        margin-left: 0;

    }
}