.contacto{
    border: yellow;
   
}

.seccionContacto{
    background-image: url("../components/imagenes/foto.mesa.restaurant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    margin: 0 !important;

}

.tituloContacto{
    color: black
}

.mensaje{
    width: 300px !important;
}


@media screen and (max-width:800px){

    .contacto{
        width: 400px;
        margin-left: 0;

    }
}

@media screen and (max-width:600px){
     .contacto{
        width: 200px;
     }

     .mensaje {
        max-width: 60%;
     }


}
