.contenedorInicio {
    background-color:black;
}

.tituloInicio {
    text-align: center;
    font-size: large;
    font-style:oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:aliceblue
}

.parrafoInicio {
    text-align: justify;
    margin: 30px;
    font-size: large;
    color:aliceblue;
}

.seccionCarousel {
    background-color: black;
}

footer {
    background-color: black;
}
.contenedorFooter {
    background-color:black;
    height: 25%;
    /* padding-top: 40px;
    padding-bottom: 40px; */

}

.parrafoFooter {
    color: cadetblue;
}


@media screen and (max-width:600px){
    .contenedorInicio {
        display: none;
    }
}