.contenedorInicio {
    background-color:cornflowerblue;
}
.contenedorParrafo {
   width: 50%;
      
}

.tituloInicio {
    text-align: center;
    font-size: large;
    font-style:oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:darkblue;
}

.parrafoInicio {
    text-align: justify;
    margin: 30px;
    font-size: large;
    color:darkblue;

}

.contenedorFooter {
    background-color:black;
    height: 25%;
    padding-top: 40px;
    padding-bottom: 40px;

}

.parrafoFooter {
    color: cadetblue;
}


