.opiniones {
    border-radius: 20px;
    margin: 30px;
    background-color: #000519;
    color: white;
}

.contenedorOpiniones {
    border-radius: 20px !important;
    background-color: aliceblue;   
    margin: 30px;
}

