
.reserva{
    
    margin-left: 3rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}

.tituloReserva{
    color: black;
}

.mainreserva {
    background-image: url("../components/imagenes/foto.mesa.restaurant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: start;
    margin: 0 !important;
}

@media screen and (max-width:800px){
    .mainreserva{
        justify-content: center;
    
    }
    .reserva{
        width: 400px;
        margin-left: 0;

    }
}